<% layout('layouts/boilerplate') %> 
<link rel="stylesheet" href="/stylesheets/stars.css">

<div class="card mb-3" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="<%= book.image %> " class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= book.name %> </h5>
          <p class="card-text"><%= book.about %> </p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item "><b>Author: </b> <%= book.author%></li>
            <li class="list-group-item"><b>Price</b> <%= book.price %>$ </li>
            <li class="list-group-item "><b>Submitted By:</b> <%= book.admin.username%></li>
               <li class="list-group-item"><%  if( book.instock >  0){ %>
                  <button type="button" class="btn btn-success btn-sm">in stock</button>
                 <% }else{%>
                  <button type="button" class="btn btn-danger btn-sm">run out</button>
                  <% }  %>  </li>
          
               
        </ul>
        
        <% if( currentUser )  {%>
          <div class="card-body">
            <% if ( currentUser._id.equals( book.admin._id)) { %>
              <a class="card-link btn btn-info" href="/books/<%=book._id%>/edit">Edit</a>
              <form class="d-inline" action="/books/<%=book._id%>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete</button>
              </form>
            <% } %>

         </div>
        <%} %> 
        </div>
      </div>
    </div>
  </div>

   <div class="col-6  ">
    <form action="/books/<%=book._id%>/reviews" method="POST" class="mb-3 form" novalidate >
    <% if (currentUser) { %>
        <h2>Leave a Review</h2> 
    <fieldset class="starability-basic">
        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked
            aria-label="No rating." />
        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
        <label for="first-rate1" title="Terrible">1 star</label>
        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
        <label for="first-rate2" title="Not good">2 stars</label>
        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
        <label for="first-rate3" title="Average">3 stars</label>
        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
        <label for="first-rate4" title="Very good">4 stars</label>
        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
        <label for="first-rate5" title="Amazing">5 stars</label>
    </fieldset>
    <div class="mb-3" >
        <label class="form-label" for="body">Review Text</label>
        <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <button class="btn btn-success">Submit</button>
    <% } %>
</form>
</form>
<% for(let review of book.reviews) { %>
<div class="card mb-3 ">
<div class="card-body">
   <b><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
  </svg> <%= review.user.username %> </b>
 <div></div>
   <p class="card-text"> <%= review.body %></p>
   <p class="starability-result" data-rating="<%=review.rating%>">
       Rated: <%= review.rating %> stars
   </p>
   <%  if(currentUser && review.user.equals(currentUser._id))  {%>
   <form action="/books/<%= book._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST"> 
        <% if (currentUser) { %>
            <button class="btn btn-sm btn-danger">Delete</button>
            
        </form>
        <% } %>
    <% } %> 
</div>

</div> 
<% } %></div>
</div>
<br> <br> <br> <br> <br> <br>


