<% layout('layouts/boilerplate') %> 

<h1>My Orders </h1>
<br>
<div class="card" style="width: 18rem;">
  <div class="card-header">
    <h5>User Info:</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><b>User Name: </b><%= user.username %></li>
    <li class="list-group-item"><b> Location: </b><%= user.location %></li>
    <li class="list-group-item"><b>E-mail: </b><%= user.email %></li>
  </ul>
</div>

 <br>
<% for( let orders of user.order ) { %>
  <h4>the order state: 
<% if ( orders.state  === 'Accepted'){ %>
    <button type="button" class="btn btn-primary btn-sm">Accepted</button>
  <% }else{ %>
    <button type="button" class="btn btn-success btn-sm">Delivered</button>
    <% } %>  
 </h4>

<% for( let cart of orders.carts ) { %>
     <div class="row row-cols-1 row-cols-md-5 g-10 mb-3">
<% for(  let book of cart.books ) { %>
       
          <div class="card">
            <img src="<%= book.image %> " class="card-img-top img-thumbnail"  >
            <div class="card-body">
              <h4 class="card-title"><%= book.name %>  </h5>
              <ul class="list-group list-group-flush">
                <% const i = 0  %>
                
                <li class="list-group-item"> <b>Author:</b> <%= book.author %> </li>
                <li class="list-group-item"><b>Price: </b> <%= book.price %>$</li>
              </ul>
      </div>
      </div> 
      
<% } %> 
</div>
<% } %>
<% } %>
