<% layout('layouts/boilerplate') %> 

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<h1>Payment</h1>
<br>
  <div class="row row-cols-1 row-cols-md-5 g-10 mb-3">
    <% for( let cart of usercart.books) { %>
        <!-- <div class="row g-0">
          <div class="col-md-4">
            <img src="<%= cart.image %>" class="img-fluid rounded-start" >
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= cart.name %></h5>
              <p class="card-text"><b>Author: </b> <%= cart.author %></p>
              <p class="card-text"><b>Prise: </b> <%= cart.price %>$ </p>
              
         <li class="list-group-item">  
           <form action="/mycart/delete/<%= currentUser._id %>/<%= usercart._id %>/<%= cart._id%>?_method=DELETE" method="POST"> 
                 <button class="btn btn-danger">Remove From Cart  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket3" viewBox="0 0 16 16">
                   <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM3.394 15l-1.48-6h-.97l1.525 6.426a.75.75 0 0 0 .729.574h9.606a.75.75 0 0 0 .73-.574L15.056 9h-.972l-1.479 6h-9.21z"/>
                 </svg></button>
                </form>
                <a href="/books/<%= cart._id %>" class="btn btn-primary">See More <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-square" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                </svg></a>
              </li>
         
            </div>
          </div>
        </div> -->
        <div class="card">
          <img src="<%= cart.image %> " class="card-img-top img-thumbnail"  >
          <div class="card-body">
            <h4 class="card-title"><%= cart.name %>  </h5>
            <ul class="list-group list-group-flush">
              
              
              <li class="list-group-item"><b>Price: </b> <%= cart.price %>$</li>
            </ul>
    </div>
    </div> 
    
        <% } %>
      </div> 
      <h2 class="">Total Price: <%= total %>  $ </h2>
    <!-- Replace "test" with your own sandbox Business account app client ID -->
    <script src="https://www.paypal.com/sdk/js?client-id=AfOElzWQRNw-hrRMuiTweVmtxOIKIaK285lUAUvgCcu8M3OArDMnpvyOKgY7GmrqeRcXVV0wTpZzy0yQ"></script>
    <!-- Set up a container element for the button -->
    <div id="paypal-button-container"></div>
    <script>
     paypal.Buttons({
    // Sets up the transaction when a payment button is clicked
    createOrder: (data, actions) => {
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: '<%= total%>' // Can also reference a variable or function
          }
        }]
      });
    },
    // Finalize the transaction after payer approval
    onApprove: () => {
          fetch('/mycart/add-to-orders/<%= currentUser._id %>/<%= usercart._id %>',{
          method: 'POST',
      })
      
      return window.location.href = '/myorders/<%= currentUser._id %>'
    }
  }).render('#paypal-button-container')
    </script>

  